<table border="1" class="dataframe table-park-list">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Park Name</th>
      <th>Visits in 2018</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Great Smoky Mtns NP</td>
      <td>11,421,200.00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Grand Canyon NP</td>
      <td>6,380,495.00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Rocky Mtn NP</td>
      <td>4,590,493.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Zion NP</td>
      <td>4,320,033.00</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Yellowstone NP</td>
      <td>4,115,000.00</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Yosemite NP</td>
      <td>4,009,436.00</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Acadia NP</td>
      <td>3,537,575.00</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Grand Teton NP</td>
      <td>3,491,151.00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Olympic NP</td>
      <td>3,104,455.00</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Glacier NP</td>
      <td>2,965,309.00</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Joshua Tree National Park</td>
      <td>2,942,382.00</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Bryce Canyon National Park</td>
      <td>2,679,478.00</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Cuyahoga Valley National Park</td>
      <td>2,096,053.00</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Gateway Arch National Park</td>
      <td>2,016,180.00</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Sequoia &amp; Kings Canyon National Parks</td>
      <td>1,928,617.00</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Indiana Dunes National Park</td>
      <td>1,756,079.00</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Death Valley National Park</td>
      <td>1,678,660.00</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Arches National Park</td>
      <td>1,663,557.00</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Mount Rainier National Park</td>
      <td>1,518,491.00</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Hot Springs National Park</td>
      <td>1,506,887.00</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Shenandoah National Park</td>
      <td>1,264,880.00</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Capitol Reef National Park</td>
      <td>1,227,627.00</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Hawai'i Volcanoes National Park</td>
      <td>1,116,891.00</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Haleakal&amp;#257; National Park</td>
      <td>1,044,084.00</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Badlands National Park</td>
      <td>1,008,942.00</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Saguaro National Park</td>
      <td>957,405.00</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Theodore Roosevelt National Park</td>
      <td>749,389.00</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Canyonlands National Park</td>
      <td>739,449.00</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Crater Lake National Park</td>
      <td>720,659.00</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Wind Cave National Park</td>
      <td>656,397.00</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Petrified Forest National Park</td>
      <td>644,922.00</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Glacier Bay National Park &amp; Preserve</td>
      <td>597,915.00</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Everglades National Park</td>
      <td>597,124.00</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Denali National Park &amp; Preserve</td>
      <td>594,660.00</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Mesa Verde National Park</td>
      <td>563,420.00</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Mammoth Cave National Park</td>
      <td>533,206.00</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Lassen Volcanic National Park</td>
      <td>499,435.00</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Redwood National and State Parks</td>
      <td>482,536.00</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Biscayne National Park</td>
      <td>469,253.00</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Carlsbad Caverns National Park</td>
      <td>465,912.00</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Great Sand Dunes National Park &amp; Preserve</td>
      <td>442,905.00</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Big Bend National Park</td>
      <td>440,091.00</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Channel Islands National Park</td>
      <td>366,250.00</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Kenai Fjords National Park</td>
      <td>321,596.00</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Black Canyon Of The Gunnison National Park</td>
      <td>308,962.00</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Voyageurs National Park</td>
      <td>239,656.00</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Pinnacles National Park</td>
      <td>222,152.00</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Guadalupe Mountains National Park</td>
      <td>172,347.00</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Great Basin National Park</td>
      <td>153,094.00</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Congaree National Park</td>
      <td>145,929.00</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Virgin Islands NP</td>
      <td>112,287.00</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Wrangell - St Elias NP</td>
      <td>79,450.00</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Dry Tortugas NP</td>
      <td>56,810.00</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Katmai NP</td>
      <td>37,818.00</td>
    </tr>
    <tr>
      <th>55</th>
      <td>North Cascades NP</td>
      <td>30,085.00</td>
    </tr>
    <tr>
      <th>56</th>
      <td>NP of American Samoa</td>
      <td>28,626.00</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Isle Royale NP</td>
      <td>25,798.00</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Kobuk Valley NP</td>
      <td>14,937.00</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Lake Clark NP</td>
      <td>14,479.00</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Gates Of The Arctic NP</td>
      <td>9,591.00</td>
    </tr>
  </tbody>
</table>