<table border="1" class="dataframe table-park-list">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Park Name</th>
      <th>Size (acres)</th>
      <th>Size (square miles)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Wrangell-St. Elias National Park</td>
      <td>8,323,146</td>
      <td>13,005</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Gates of the Arctic National Park</td>
      <td>7,523,897</td>
      <td>11,756</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Denali National Park</td>
      <td>4,740,911</td>
      <td>7,408</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Katmai National Park</td>
      <td>3,674,529</td>
      <td>5,741</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Death Valley National Park</td>
      <td>3,372,981</td>
      <td>5,270</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Glacier Bay National Park</td>
      <td>3,223,383</td>
      <td>5,037</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Lake Clark National Park</td>
      <td>2,619,816</td>
      <td>4,093</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Yellowstone National Park</td>
      <td>2,219,791</td>
      <td>3,468</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Kobuk Valley National Park</td>
      <td>1,750,716</td>
      <td>2,735</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Everglades National Park</td>
      <td>1,508,939</td>
      <td>2,358</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Grand Canyon National Park</td>
      <td>1,201,647</td>
      <td>1,878</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Glacier National Park</td>
      <td>1,013,126</td>
      <td>1,583</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Olympic National Park</td>
      <td>922,649</td>
      <td>1,442</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Big Bend National Park</td>
      <td>801,163</td>
      <td>1,252</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Joshua Tree National Park</td>
      <td>790,636</td>
      <td>1,235</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Yosemite National Park</td>
      <td>761,748</td>
      <td>1,190</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Kenai Fjords National Park</td>
      <td>669,650</td>
      <td>1,046</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Isle Royale National Park</td>
      <td>571,790</td>
      <td>893</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Great Smoky Mountains National Park</td>
      <td>522,427</td>
      <td>816</td>
    </tr>
    <tr>
      <th>20</th>
      <td>North Cascades National Park</td>
      <td>504,781</td>
      <td>789</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Kings Canyon National Park</td>
      <td>461,901</td>
      <td>722</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Sequoia National Park</td>
      <td>404,063</td>
      <td>631</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Canyonlands National Park</td>
      <td>337,598</td>
      <td>527</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Hawai'i Volcanoes National Park</td>
      <td>325,605</td>
      <td>509</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Grand Teton National Park</td>
      <td>310,044</td>
      <td>484</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Rocky Mountain National Park</td>
      <td>265,807</td>
      <td>415</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Channel Islands National Park</td>
      <td>249,561</td>
      <td>390</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Badlands National Park</td>
      <td>242,756</td>
      <td>379</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Capitol Reef National Park</td>
      <td>241,904</td>
      <td>378</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Mount Rainier National Park</td>
      <td>236,382</td>
      <td>369</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Petrified Forest National Park</td>
      <td>221,390</td>
      <td>346</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Voyageurs National Park</td>
      <td>218,200</td>
      <td>341</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Shenandoah National Park</td>
      <td>199,224</td>
      <td>311</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Crater Lake National Park</td>
      <td>183,224</td>
      <td>286</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Biscayne National Park</td>
      <td>172,971</td>
      <td>270</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Zion National Park</td>
      <td>147,243</td>
      <td>230</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Redwood National Park</td>
      <td>138,999</td>
      <td>217</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Great Sand Dunes National Park</td>
      <td>107,342</td>
      <td>168</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Lassen Volcanic National Park</td>
      <td>106,589</td>
      <td>167</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Saguaro National Park</td>
      <td>91,716</td>
      <td>143</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Guadalupe Mountains National Park</td>
      <td>86,367</td>
      <td>135</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Great Basin National Park</td>
      <td>77,180</td>
      <td>121</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Arches National Park</td>
      <td>76,679</td>
      <td>120</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Theodore Roosevelt National Park</td>
      <td>70,447</td>
      <td>110</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Dry Tortugas National Park</td>
      <td>64,701</td>
      <td>101</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Mammoth Cave National Park</td>
      <td>54,012</td>
      <td>84</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Mesa Verde National Park</td>
      <td>52,485</td>
      <td>82</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Acadia National Park</td>
      <td>49,075</td>
      <td>77</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Carlsbad Caverns National Park</td>
      <td>46,766</td>
      <td>73</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Bryce Canyon National Park</td>
      <td>35,835</td>
      <td>56</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Wind Cave National Park</td>
      <td>33,971</td>
      <td>53</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Haleakalā National Park</td>
      <td>33,265</td>
      <td>52</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Cuyahoga Valley National Park</td>
      <td>32,572</td>
      <td>51</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Black Canyon of the Gunnison National Park</td>
      <td>30,780</td>
      <td>48</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Pinnacles National Park</td>
      <td>26,686</td>
      <td>42</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Congaree National Park</td>
      <td>26,640</td>
      <td>42</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Indiana Dunes National Park</td>
      <td>15,348</td>
      <td>24</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Virgin Islands National Park</td>
      <td>14,945</td>
      <td>23</td>
    </tr>
    <tr>
      <th>59</th>
      <td>National Park of American Samoa</td>
      <td>8,257</td>
      <td>13</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Hot Springs National Park</td>
      <td>5,552</td>
      <td>9</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Gateway Arch National Park</td>
      <td>193</td>
      <td>&lt;1</td>
    </tr>
  </tbody>
</table>