<table border="1" class="dataframe table-park-list">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Park Name</th>
      <th>Visits in 2018</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Great Smoky Mountains National Park</td>
      <td>11,421,200</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Grand Canyon National Park</td>
      <td>6,380,495</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Rocky Mountain National Park</td>
      <td>4,590,493</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Zion National Park</td>
      <td>4,320,033</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Yellowstone National Park</td>
      <td>4,115,000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Yosemite National Park</td>
      <td>4,009,436</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Acadia National Park</td>
      <td>3,537,575</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Grand Teton National Park</td>
      <td>3,491,151</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Olympic National Park</td>
      <td>3,104,455</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Glacier National Park</td>
      <td>2,965,309</td>
    </tr>
  </tbody>
</table>