<table border="1" class="dataframe table-park-list">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Park Name</th>
      <th>Size (acres)</th>
      <th>Size (square miles)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Wrangell-St. Elias National Park</td>
      <td>8,323,146.48</td>
      <td>13,004.92</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Gates of the Arctic National Park</td>
      <td>7,523,897.45</td>
      <td>11,756.09</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Noatak National Preserve</td>
      <td>6,587,071.39</td>
      <td>10,292.30</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Wrangell-St. Elias National Preserve</td>
      <td>4,852,644.52</td>
      <td>7,582.26</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Denali National Park</td>
      <td>4,740,911.16</td>
      <td>7,407.67</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Katmai National Park</td>
      <td>3,674,529.33</td>
      <td>5,741.45</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Death Valley National Park</td>
      <td>3,372,981.42</td>
      <td>5,270.28</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Glacier Bay National Park</td>
      <td>3,223,383.43</td>
      <td>5,036.54</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Bering Land Bridge National Preserve</td>
      <td>2,697,391.01</td>
      <td>4,214.67</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Lake Clark National Park</td>
      <td>2,619,816.49</td>
      <td>4,093.46</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Yukon-Charley Rivers National Preserve</td>
      <td>2,526,512.44</td>
      <td>3,947.68</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Yellowstone National Park</td>
      <td>2,219,790.71</td>
      <td>3,468.42</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Kobuk Valley National Park</td>
      <td>1,750,716.16</td>
      <td>2,735.49</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Mojave National Preserve</td>
      <td>1,545,684.49</td>
      <td>2,415.13</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Everglades National Park</td>
      <td>1,508,938.57</td>
      <td>2,357.72</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Lake Mead National Recreation Area</td>
      <td>1,495,815.53</td>
      <td>2,337.21</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Lake Clark National Preserve</td>
      <td>1,410,293.68</td>
      <td>2,203.58</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Denali National Preserve</td>
      <td>1,334,117.80</td>
      <td>2,084.56</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Glen Canyon National Recreation Area</td>
      <td>1,254,116.62</td>
      <td>1,959.56</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Grand Canyon National Park</td>
      <td>1,201,647.03</td>
      <td>1,877.57</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Glacier National Park</td>
      <td>1,013,125.99</td>
      <td>1,583.01</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Gates of the Arctic National Preserve</td>
      <td>948,608.07</td>
      <td>1,482.20</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Olympic National Park</td>
      <td>922,649.41</td>
      <td>1,441.64</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Big Bend National Park</td>
      <td>801,163.21</td>
      <td>1,251.82</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Joshua Tree National Park</td>
      <td>790,635.74</td>
      <td>1,235.37</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Yosemite National Park</td>
      <td>761,747.50</td>
      <td>1,190.23</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Big Cypress National Preserve</td>
      <td>720,564.01</td>
      <td>1,125.88</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Craters of the Moon National Preserve</td>
      <td>698,939.69</td>
      <td>1,092.09</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Kenai Fjords National Park</td>
      <td>669,650.05</td>
      <td>1,046.33</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Cape Krusenstern National Monument</td>
      <td>649,096.15</td>
      <td>1,014.21</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Isle Royale National Park</td>
      <td>571,790.30</td>
      <td>893.42</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Great Smoky Mountains National Park</td>
      <td>522,426.88</td>
      <td>816.29</td>
    </tr>
    <tr>
      <th>33</th>
      <td>North Cascades National Park</td>
      <td>504,780.94</td>
      <td>788.72</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Aniakchak National Preserve</td>
      <td>464,117.93</td>
      <td>725.18</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Kings Canyon National Park</td>
      <td>461,901.20</td>
      <td>721.72</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Katmai National Preserve</td>
      <td>418,698.80</td>
      <td>654.22</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Sequoia National Park</td>
      <td>404,062.63</td>
      <td>631.35</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Canyonlands National Park</td>
      <td>337,597.83</td>
      <td>527.50</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Organ Pipe Cactus National Monument</td>
      <td>330,688.86</td>
      <td>516.70</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Hawai'i Volcanoes National Park</td>
      <td>325,605.28</td>
      <td>508.76</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Grand Teton National Park</td>
      <td>310,044.36</td>
      <td>484.44</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Rocky Mountain National Park</td>
      <td>265,807.25</td>
      <td>415.32</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Channel Islands National Park</td>
      <td>249,561.00</td>
      <td>389.94</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Badlands National Park</td>
      <td>242,755.94</td>
      <td>379.31</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Capitol Reef National Park</td>
      <td>241,904.50</td>
      <td>377.98</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Appalachian National Scenic Trail</td>
      <td>239,604.64</td>
      <td>374.38</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Mount Rainier National Park</td>
      <td>236,381.64</td>
      <td>369.35</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Petrified Forest National Park</td>
      <td>221,390.21</td>
      <td>345.92</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Voyageurs National Park</td>
      <td>218,200.15</td>
      <td>340.94</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Dinosaur National Monument</td>
      <td>210,281.92</td>
      <td>328.57</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Shenandoah National Park</td>
      <td>199,223.77</td>
      <td>311.29</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Crater Lake National Park</td>
      <td>183,224.05</td>
      <td>286.29</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Biscayne National Park</td>
      <td>172,971.11</td>
      <td>270.27</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Santa Monica Mountains National Recreation Area</td>
      <td>156,618.44</td>
      <td>244.72</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Zion National Park</td>
      <td>147,242.66</td>
      <td>230.07</td>
    </tr>
    <tr>
      <th>56</th>
      <td>White Sands National Monument</td>
      <td>143,703.55</td>
      <td>224.54</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Redwood National Park</td>
      <td>138,999.37</td>
      <td>217.19</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Gulf Islands National Seashore</td>
      <td>138,305.52</td>
      <td>216.10</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Aniakchak National Monument</td>
      <td>137,176.00</td>
      <td>214.34</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Padre Island National Seashore</td>
      <td>130,434.27</td>
      <td>203.80</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Big South Fork National River and Recreation Area</td>
      <td>123,694.10</td>
      <td>193.27</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Bighorn Canyon National Recreation Area</td>
      <td>120,296.22</td>
      <td>187.96</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Ross Lake National Recreation Area</td>
      <td>117,574.59</td>
      <td>183.71</td>
    </tr>
    <tr>
      <th>64</th>
      <td>El Malpais National Monument</td>
      <td>114,347.11</td>
      <td>178.67</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Big Thicket National Preserve</td>
      <td>113,121.96</td>
      <td>176.75</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Great Sand Dunes National Park</td>
      <td>107,341.87</td>
      <td>167.72</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Lassen Volcanic National Park</td>
      <td>106,589.02</td>
      <td>166.55</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Lake Roosevelt National Recreation Area</td>
      <td>100,390.31</td>
      <td>156.86</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Blue Ridge Parkway</td>
      <td>98,910.52</td>
      <td>154.55</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Buffalo National River</td>
      <td>94,293.31</td>
      <td>147.33</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Saint Croix National Scenic Riverway</td>
      <td>92,743.08</td>
      <td>144.91</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Saguaro National Park</td>
      <td>91,715.72</td>
      <td>143.31</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Valles Caldera National Preserve</td>
      <td>89,766.09</td>
      <td>140.26</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Katahdin Woods and Waters National Monument</td>
      <td>87,564.27</td>
      <td>136.82</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Guadalupe Mountains National Park</td>
      <td>86,367.10</td>
      <td>134.95</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Canyon de Chelly National Monument</td>
      <td>83,840.00</td>
      <td>131.00</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Golden Gate National Recreation Area</td>
      <td>82,116.03</td>
      <td>128.31</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Ozark National Scenic Riverways</td>
      <td>80,784.30</td>
      <td>126.23</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Great Basin National Park</td>
      <td>77,180.00</td>
      <td>120.59</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Arches National Park</td>
      <td>76,678.98</td>
      <td>119.81</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Upper Delaware Scenic and Recreational River</td>
      <td>74,999.56</td>
      <td>117.19</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Pictured Rocks National Lakeshore</td>
      <td>73,235.83</td>
      <td>114.43</td>
    </tr>
    <tr>
      <th>83</th>
      <td>New River Gorge National River</td>
      <td>72,185.76</td>
      <td>112.79</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Sleeping Bear Dunes National Lakeshore</td>
      <td>71,251.79</td>
      <td>111.33</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Point Reyes National Seashore</td>
      <td>71,053.38</td>
      <td>111.02</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Theodore Roosevelt National Park</td>
      <td>70,446.89</td>
      <td>110.07</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Apostle Islands National Lakeshore</td>
      <td>69,377.43</td>
      <td>108.40</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Delaware Water Gap National Recreation Area</td>
      <td>68,663.66</td>
      <td>107.29</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Dry Tortugas National Park</td>
      <td>64,701.22</td>
      <td>101.10</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Lake Chelan National Recreation Area</td>
      <td>61,946.27</td>
      <td>96.79</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Amistad National Recreation Area</td>
      <td>58,500.00</td>
      <td>91.41</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Glacier Bay National Preserve</td>
      <td>58,406.00</td>
      <td>91.26</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Canaveral National Seashore</td>
      <td>57,661.69</td>
      <td>90.10</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Mammoth Cave National Park</td>
      <td>54,011.91</td>
      <td>84.39</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Mississippi National River and Recreation Areas</td>
      <td>53,775.00</td>
      <td>84.02</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Craters of the Moon National Monument</td>
      <td>53,437.64</td>
      <td>83.50</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Mesa Verde National Park</td>
      <td>52,485.17</td>
      <td>82.01</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Natchez Trace Parkway</td>
      <td>52,302.00</td>
      <td>81.72</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Acadia National Park</td>
      <td>49,075.26</td>
      <td>76.68</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Missouri National Recreational River</td>
      <td>48,456.55</td>
      <td>75.71</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Carlsbad Caverns National Park</td>
      <td>46,766.45</td>
      <td>73.07</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Lava Beds National Monument</td>
      <td>46,692.42</td>
      <td>72.96</td>
    </tr>
    <tr>
      <th>103</th>
      <td>Timucuan Ecological and Historic Preserve</td>
      <td>46,262.67</td>
      <td>72.29</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Lake Meredith National Recreation Area</td>
      <td>44,977.63</td>
      <td>70.28</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Cape Cod National Seashore</td>
      <td>43,608.30</td>
      <td>68.14</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Curecanti National Recreation Area</td>
      <td>43,590.56</td>
      <td>68.11</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Great Egg Harbor National Scenic and Recreatio...</td>
      <td>43,311.42</td>
      <td>67.67</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Whiskeytown-Shasta-Trinity National Recreation...</td>
      <td>42,503.25</td>
      <td>66.41</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Great Sand Dunes National Preserve</td>
      <td>41,686.00</td>
      <td>65.13</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Assateague Island National Seashore</td>
      <td>41,346.50</td>
      <td>64.60</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Cumberland Island National Seashore</td>
      <td>36,346.83</td>
      <td>56.79</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Bryce Canyon National Park</td>
      <td>35,835.08</td>
      <td>55.99</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Wupatki National Monument</td>
      <td>35,401.83</td>
      <td>55.32</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Wind Cave National Park</td>
      <td>33,970.84</td>
      <td>53.08</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Chaco Culture National Historical Park</td>
      <td>33,960.19</td>
      <td>53.06</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Bandelier National Monument</td>
      <td>33,676.67</td>
      <td>52.62</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Haleakalā National Park</td>
      <td>33,264.62</td>
      <td>51.98</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Cuyahoga Valley National Park</td>
      <td>32,571.88</td>
      <td>50.89</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Black Canyon of the Gunnison National Park</td>
      <td>30,779.83</td>
      <td>48.09</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Alagnak Wild River</td>
      <td>30,664.79</td>
      <td>47.91</td>
    </tr>
    <tr>
      <th>121</th>
      <td>Cape Hatteras National Seashore</td>
      <td>30,350.65</td>
      <td>47.42</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Niobrara National Scenic River</td>
      <td>29,101.02</td>
      <td>45.47</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Cape Lookout National Seashore</td>
      <td>28,243.36</td>
      <td>44.13</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Pinnacles National Park</td>
      <td>26,685.73</td>
      <td>41.70</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Congaree National Park</td>
      <td>26,639.99</td>
      <td>41.62</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Gateway National Recreation Area</td>
      <td>26,606.63</td>
      <td>41.57</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Jean Lafitte National Historical Park and Pres...</td>
      <td>25,875.86</td>
      <td>40.43</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Cumberland Gap National Historical Park</td>
      <td>24,546.83</td>
      <td>38.35</td>
    </tr>
    <tr>
      <th>129</th>
      <td>John D. Rockefeller National Parkway</td>
      <td>23,777.22</td>
      <td>37.15</td>
    </tr>
    <tr>
      <th>130</th>
      <td>Tule Springs Fossil Beds National Monument</td>
      <td>22,650.00</td>
      <td>35.39</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Castle Mountains National Monument</td>
      <td>21,025.50</td>
      <td>32.85</td>
    </tr>
    <tr>
      <th>132</th>
      <td>Colorado National Monument</td>
      <td>20,536.39</td>
      <td>32.09</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Chesapeake and Ohio Canal National Historical ...</td>
      <td>19,612.37</td>
      <td>30.64</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Fire Island National Seashore</td>
      <td>19,580.65</td>
      <td>30.59</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Ebey's Landing National Historical Reserve</td>
      <td>19,333.51</td>
      <td>30.21</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Buck Island Reef National Monument</td>
      <td>19,015.47</td>
      <td>29.71</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Prince William Forest Park</td>
      <td>16,080.82</td>
      <td>25.13</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Indiana Dunes National Park</td>
      <td>15,348.43</td>
      <td>23.98</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Little River Canyon National Preserve</td>
      <td>15,291.63</td>
      <td>23.89</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Virgin Islands National Park</td>
      <td>14,944.53</td>
      <td>23.35</td>
    </tr>
    <tr>
      <th>141</th>
      <td>City of Rocks National Reserve</td>
      <td>14,407.19</td>
      <td>22.51</td>
    </tr>
    <tr>
      <th>142</th>
      <td>John Day Fossil Beds National Monument</td>
      <td>14,062.19</td>
      <td>21.97</td>
    </tr>
    <tr>
      <th>143</th>
      <td>Rio Grande Wild and Scenic River</td>
      <td>13,123.39</td>
      <td>20.51</td>
    </tr>
    <tr>
      <th>144</th>
      <td>Klondike Gold Rush National Historical Park</td>
      <td>12,996.49</td>
      <td>20.31</td>
    </tr>
    <tr>
      <th>145</th>
      <td>Virgin Islands Coral Reef National Monument</td>
      <td>12,708.07</td>
      <td>19.86</td>
    </tr>
    <tr>
      <th>146</th>
      <td>Sand Creek Massacre National Historic Site</td>
      <td>12,583.34</td>
      <td>19.66</td>
    </tr>
    <tr>
      <th>147</th>
      <td>Chiricahua National Monument</td>
      <td>12,024.73</td>
      <td>18.79</td>
    </tr>
    <tr>
      <th>148</th>
      <td>Gauley River National Recreation Area</td>
      <td>11,566.46</td>
      <td>18.07</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Chattahoochee River National Recreation Area</td>
      <td>11,254.14</td>
      <td>17.58</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Natchez Trace National Scenic Trail</td>
      <td>10,995.00</td>
      <td>17.18</td>
    </tr>
    <tr>
      <th>151</th>
      <td>Tallgrass Prairie National Preserve</td>
      <td>10,882.67</td>
      <td>17.00</td>
    </tr>
    <tr>
      <th>152</th>
      <td>Kalaupapa National Historical Park</td>
      <td>10,778.88</td>
      <td>16.84</td>
    </tr>
    <tr>
      <th>153</th>
      <td>Chickasaw National Recreation Area</td>
      <td>9,898.63</td>
      <td>15.47</td>
    </tr>
    <tr>
      <th>154</th>
      <td>Chickamauga and Chattanooga National Military ...</td>
      <td>9,523.48</td>
      <td>14.88</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Petersburg National Battlefield</td>
      <td>9,368.34</td>
      <td>14.64</td>
    </tr>
    <tr>
      <th>156</th>
      <td>National Capital Parks - East</td>
      <td>8,693.37</td>
      <td>13.58</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Colonial National Historical Park</td>
      <td>8,676.91</td>
      <td>13.56</td>
    </tr>
    <tr>
      <th>158</th>
      <td>Fredericksburg and Spotsylvania County Battlef...</td>
      <td>8,405.46</td>
      <td>13.13</td>
    </tr>
    <tr>
      <th>159</th>
      <td>National Park of American Samoa</td>
      <td>8,256.67</td>
      <td>12.90</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Shiloh National Military Park</td>
      <td>8,240.10</td>
      <td>12.88</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Fossil Butte National Monument</td>
      <td>8,198.00</td>
      <td>12.81</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Richmond National Battlefield Park</td>
      <td>8,170.85</td>
      <td>12.77</td>
    </tr>
    <tr>
      <th>163</th>
      <td>Natural Bridges National Monument</td>
      <td>7,636.49</td>
      <td>11.93</td>
    </tr>
    <tr>
      <th>164</th>
      <td>Petroglyph National Monument</td>
      <td>7,209.30</td>
      <td>11.26</td>
    </tr>
    <tr>
      <th>165</th>
      <td>George Washington Memorial Parkway</td>
      <td>7,037.01</td>
      <td>11.00</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Pecos National Historical Park</td>
      <td>6,693.49</td>
      <td>10.46</td>
    </tr>
    <tr>
      <th>167</th>
      <td>Cedar Breaks National Monument</td>
      <td>6,154.60</td>
      <td>9.62</td>
    </tr>
    <tr>
      <th>168</th>
      <td>Gettysburg National Military Park</td>
      <td>6,032.65</td>
      <td>9.43</td>
    </tr>
    <tr>
      <th>169</th>
      <td>Florissant Fossil Beds National Monument</td>
      <td>5,998.09</td>
      <td>9.37</td>
    </tr>
    <tr>
      <th>170</th>
      <td>Catoctin Mountain Park</td>
      <td>5,891.49</td>
      <td>9.21</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Fort Pulaski National Monument</td>
      <td>5,623.10</td>
      <td>8.79</td>
    </tr>
    <tr>
      <th>172</th>
      <td>Hot Springs National Park</td>
      <td>5,551.76</td>
      <td>8.67</td>
    </tr>
    <tr>
      <th>173</th>
      <td>Obed Wild and Scenic River</td>
      <td>5,489.85</td>
      <td>8.58</td>
    </tr>
    <tr>
      <th>174</th>
      <td>Manassas National Battlefield Park</td>
      <td>5,073.44</td>
      <td>7.93</td>
    </tr>
    <tr>
      <th>175</th>
      <td>Coronado National Memorial</td>
      <td>4,830.22</td>
      <td>7.55</td>
    </tr>
    <tr>
      <th>176</th>
      <td>Piscataway Park</td>
      <td>4,616.31</td>
      <td>7.21</td>
    </tr>
    <tr>
      <th>177</th>
      <td>Nez Perce National Historical Park</td>
      <td>4,564.93</td>
      <td>7.13</td>
    </tr>
    <tr>
      <th>178</th>
      <td>Oregon Caves National Monument and Preserve</td>
      <td>4,554.03</td>
      <td>7.12</td>
    </tr>
    <tr>
      <th>179</th>
      <td>Hagerman Fossil Beds National Monument</td>
      <td>4,351.15</td>
      <td>6.80</td>
    </tr>
    <tr>
      <th>180</th>
      <td>Bluestone National Scenic River</td>
      <td>4,309.51</td>
      <td>6.73</td>
    </tr>
    <tr>
      <th>181</th>
      <td>Pea Ridge National Military Park</td>
      <td>4,300.35</td>
      <td>6.72</td>
    </tr>
    <tr>
      <th>182</th>
      <td>Kings Mountain National Military Park</td>
      <td>3,945.29</td>
      <td>6.16</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Cedar Creek and Belle Grove National Historica...</td>
      <td>3,707.09</td>
      <td>5.79</td>
    </tr>
    <tr>
      <th>184</th>
      <td>Harpers Ferry National Historical Park</td>
      <td>3,669.19</td>
      <td>5.73</td>
    </tr>
    <tr>
      <th>185</th>
      <td>Saratoga National Historical Park</td>
      <td>3,579.14</td>
      <td>5.59</td>
    </tr>
    <tr>
      <th>186</th>
      <td>Valley Forge National Historical Park</td>
      <td>3,468.54</td>
      <td>5.42</td>
    </tr>
    <tr>
      <th>187</th>
      <td>Palo Alto Battlefield National Historical Park</td>
      <td>3,441.74</td>
      <td>5.38</td>
    </tr>
    <tr>
      <th>188</th>
      <td>Lewis and Clark National Historical Park</td>
      <td>3,410.15</td>
      <td>5.33</td>
    </tr>
    <tr>
      <th>189</th>
      <td>Antietam National Battlefield</td>
      <td>3,228.89</td>
      <td>5.05</td>
    </tr>
    <tr>
      <th>190</th>
      <td>Walnut Canyon National Monument</td>
      <td>3,200.61</td>
      <td>5.00</td>
    </tr>
    <tr>
      <th>191</th>
      <td>Agate Fossil Beds National Monument</td>
      <td>3,057.87</td>
      <td>4.78</td>
    </tr>
    <tr>
      <th>192</th>
      <td>Sunset Crater Volcano National Monument</td>
      <td>3,040.00</td>
      <td>4.75</td>
    </tr>
    <tr>
      <th>193</th>
      <td>Scotts Bluff National Monument</td>
      <td>3,004.73</td>
      <td>4.69</td>
    </tr>
    <tr>
      <th>194</th>
      <td>Kennesaw Mountain National Battlefield Park</td>
      <td>2,905.79</td>
      <td>4.54</td>
    </tr>
    <tr>
      <th>195</th>
      <td>Golden Spike National Historical Park</td>
      <td>2,735.28</td>
      <td>4.27</td>
    </tr>
    <tr>
      <th>196</th>
      <td>Effigy Mounds National Monument</td>
      <td>2,526.39</td>
      <td>3.95</td>
    </tr>
    <tr>
      <th>197</th>
      <td>Wilson's Creek National Battlefield</td>
      <td>2,407.79</td>
      <td>3.76</td>
    </tr>
    <tr>
      <th>198</th>
      <td>Flight 93 National Memorial</td>
      <td>2,319.36</td>
      <td>3.62</td>
    </tr>
    <tr>
      <th>199</th>
      <td>San Juan Island National Historical Park</td>
      <td>2,145.56</td>
      <td>3.35</td>
    </tr>
    <tr>
      <th>200</th>
      <td>Horseshoe Bend National Military Park</td>
      <td>2,040.00</td>
      <td>3.19</td>
    </tr>
    <tr>
      <th>201</th>
      <td>War in the Pacific National Historical Park</td>
      <td>2,030.65</td>
      <td>3.17</td>
    </tr>
    <tr>
      <th>202</th>
      <td>Delaware National Scenic River</td>
      <td>1,973.33</td>
      <td>3.08</td>
    </tr>
    <tr>
      <th>203</th>
      <td>Keweenaw National Historical Park</td>
      <td>1,870.00</td>
      <td>2.92</td>
    </tr>
    <tr>
      <th>204</th>
      <td>Vicksburg National Military Park</td>
      <td>1,814.55</td>
      <td>2.84</td>
    </tr>
    <tr>
      <th>205</th>
      <td>Appomattox Court House National Historical Park</td>
      <td>1,774.60</td>
      <td>2.77</td>
    </tr>
    <tr>
      <th>206</th>
      <td>Hopewell Culture National Historical Park</td>
      <td>1,769.71</td>
      <td>2.77</td>
    </tr>
    <tr>
      <th>207</th>
      <td>Rock Creek Park</td>
      <td>1,755.21</td>
      <td>2.74</td>
    </tr>
    <tr>
      <th>208</th>
      <td>Knife River Indian Villages National Historic ...</td>
      <td>1,748.80</td>
      <td>2.73</td>
    </tr>
    <tr>
      <th>209</th>
      <td>Morristown National Historical Park</td>
      <td>1,710.72</td>
      <td>2.67</td>
    </tr>
    <tr>
      <th>210</th>
      <td>Hohokam Pima National Monument</td>
      <td>1,690.00</td>
      <td>2.64</td>
    </tr>
    <tr>
      <th>211</th>
      <td>Monocacy National Battlefield</td>
      <td>1,626.62</td>
      <td>2.54</td>
    </tr>
    <tr>
      <th>212</th>
      <td>Grant-Kohrs Ranch National Historic Site</td>
      <td>1,618.43</td>
      <td>2.53</td>
    </tr>
    <tr>
      <th>213</th>
      <td>Lyndon B. Johnson National Historical Park</td>
      <td>1,571.71</td>
      <td>2.46</td>
    </tr>
    <tr>
      <th>214</th>
      <td>Blackstone River Valley National Historical Park</td>
      <td>1,489.00</td>
      <td>2.33</td>
    </tr>
    <tr>
      <th>215</th>
      <td>Boston Harbor Islands National Recreation Area</td>
      <td>1,482.31</td>
      <td>2.32</td>
    </tr>
    <tr>
      <th>216</th>
      <td>Alibates Flint Quarries National Monument</td>
      <td>1,370.97</td>
      <td>2.14</td>
    </tr>
    <tr>
      <th>217</th>
      <td>Devils Tower National Monument</td>
      <td>1,347.21</td>
      <td>2.11</td>
    </tr>
    <tr>
      <th>218</th>
      <td>Fort Donelson National Battlefield</td>
      <td>1,319.00</td>
      <td>2.06</td>
    </tr>
    <tr>
      <th>219</th>
      <td>Allegheny Portage Railroad National Historic Site</td>
      <td>1,284.27</td>
      <td>2.01</td>
    </tr>
    <tr>
      <th>220</th>
      <td>El Morro National Monument</td>
      <td>1,278.72</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th>221</th>
      <td>Mount Rushmore National Memorial</td>
      <td>1,278.45</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th>222</th>
      <td>Jewel Cave National Monument</td>
      <td>1,273.51</td>
      <td>1.99</td>
    </tr>
    <tr>
      <th>223</th>
      <td>Greenbelt Park</td>
      <td>1,175.42</td>
      <td>1.84</td>
    </tr>
    <tr>
      <th>224</th>
      <td>Kaloko-Honokōhau National Historical Park</td>
      <td>1,163.05</td>
      <td>1.82</td>
    </tr>
    <tr>
      <th>225</th>
      <td>First State National Historical Park</td>
      <td>1,155.04</td>
      <td>1.80</td>
    </tr>
    <tr>
      <th>226</th>
      <td>Tonto National Monument</td>
      <td>1,120.00</td>
      <td>1.75</td>
    </tr>
    <tr>
      <th>227</th>
      <td>Salinas Pueblo Missions National Monument</td>
      <td>1,071.42</td>
      <td>1.67</td>
    </tr>
    <tr>
      <th>228</th>
      <td>Minute Man National Historical Park</td>
      <td>1,027.76</td>
      <td>1.61</td>
    </tr>
    <tr>
      <th>229</th>
      <td>Ninety Six National Historic Site</td>
      <td>1,021.94</td>
      <td>1.60</td>
    </tr>
    <tr>
      <th>230</th>
      <td>Montezuma Castle National Monument</td>
      <td>1,015.52</td>
      <td>1.59</td>
    </tr>
    <tr>
      <th>231</th>
      <td>Fort Bowie National Historic Site</td>
      <td>999.45</td>
      <td>1.56</td>
    </tr>
    <tr>
      <th>232</th>
      <td>Salt River Bay National Historical Park and Ec...</td>
      <td>989.42</td>
      <td>1.55</td>
    </tr>
    <tr>
      <th>233</th>
      <td>Big Hole National Battlefield</td>
      <td>975.61</td>
      <td>1.52</td>
    </tr>
    <tr>
      <th>234</th>
      <td>San Antonio Missions National Historical Park</td>
      <td>947.77</td>
      <td>1.48</td>
    </tr>
    <tr>
      <th>235</th>
      <td>Poverty Point National Monument</td>
      <td>910.85</td>
      <td>1.42</td>
    </tr>
    <tr>
      <th>236</th>
      <td>Fort Necessity National Battlefield</td>
      <td>902.80</td>
      <td>1.41</td>
    </tr>
    <tr>
      <th>237</th>
      <td>Fort Laramie National Historic Site</td>
      <td>873.11</td>
      <td>1.36</td>
    </tr>
    <tr>
      <th>238</th>
      <td>Hopewell Furnace National Historic Site</td>
      <td>848.06</td>
      <td>1.33</td>
    </tr>
    <tr>
      <th>239</th>
      <td>Cowpens National Battlefield</td>
      <td>841.56</td>
      <td>1.31</td>
    </tr>
    <tr>
      <th>240</th>
      <td>Home of Franklin D. Roosevelt National Histori...</td>
      <td>833.43</td>
      <td>1.30</td>
    </tr>
    <tr>
      <th>241</th>
      <td>Manzanar National Historic Site</td>
      <td>813.81</td>
      <td>1.27</td>
    </tr>
    <tr>
      <th>242</th>
      <td>Tuzigoot National Monument</td>
      <td>811.89</td>
      <td>1.27</td>
    </tr>
    <tr>
      <th>243</th>
      <td>Devils Postpile National Monument</td>
      <td>800.19</td>
      <td>1.25</td>
    </tr>
    <tr>
      <th>244</th>
      <td>Bent's Old Fort National Historic Site</td>
      <td>798.80</td>
      <td>1.25</td>
    </tr>
    <tr>
      <th>245</th>
      <td>Capulin Volcano National Monument</td>
      <td>792.84</td>
      <td>1.24</td>
    </tr>
    <tr>
      <th>246</th>
      <td>Hovenweep National Monument</td>
      <td>784.93</td>
      <td>1.23</td>
    </tr>
    <tr>
      <th>247</th>
      <td>Little Bighorn Battlefield National Monument</td>
      <td>765.34</td>
      <td>1.20</td>
    </tr>
    <tr>
      <th>248</th>
      <td>Arkansas Post National Memorial</td>
      <td>757.51</td>
      <td>1.18</td>
    </tr>
    <tr>
      <th>249</th>
      <td>Fort Union National Monument</td>
      <td>720.60</td>
      <td>1.13</td>
    </tr>
    <tr>
      <th>250</th>
      <td>Fort Larned National Historic Site</td>
      <td>718.39</td>
      <td>1.12</td>
    </tr>
    <tr>
      <th>251</th>
      <td>Grand Portage National Monument</td>
      <td>709.97</td>
      <td>1.11</td>
    </tr>
    <tr>
      <th>252</th>
      <td>Stones River National Battlefield</td>
      <td>709.49</td>
      <td>1.11</td>
    </tr>
    <tr>
      <th>253</th>
      <td>Ocmulgee Mounds National Historical Park</td>
      <td>703.70</td>
      <td>1.10</td>
    </tr>
    <tr>
      <th>254</th>
      <td>Eisenhower National Historic Site</td>
      <td>690.46</td>
      <td>1.08</td>
    </tr>
    <tr>
      <th>255</th>
      <td>Friendship Hill National Historic Site</td>
      <td>674.56</td>
      <td>1.05</td>
    </tr>
    <tr>
      <th>256</th>
      <td>George Washington Birthplace National Monument</td>
      <td>653.18</td>
      <td>1.02</td>
    </tr>
    <tr>
      <th>257</th>
      <td>Marsh-Billings-Rockefeller National Historical...</td>
      <td>643.07</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th>258</th>
      <td>Muir Woods National Monument</td>
      <td>553.55</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th>259</th>
      <td>Gila Cliff Dwellings National Monument</td>
      <td>533.13</td>
      <td>0.83</td>
    </tr>
    <tr>
      <th>260</th>
      <td>Fort Davis National Historic Site</td>
      <td>523.00</td>
      <td>0.82</td>
    </tr>
    <tr>
      <th>261</th>
      <td>Andersonville National Historic Site</td>
      <td>515.61</td>
      <td>0.81</td>
    </tr>
    <tr>
      <th>262</th>
      <td>Fort Raleigh National Historic Site</td>
      <td>512.93</td>
      <td>0.80</td>
    </tr>
    <tr>
      <th>263</th>
      <td>Harriet Tubman Underground Railroad National H...</td>
      <td>480.00</td>
      <td>0.75</td>
    </tr>
    <tr>
      <th>264</th>
      <td>Casa Grande Ruins National Monument</td>
      <td>472.50</td>
      <td>0.74</td>
    </tr>
    <tr>
      <th>265</th>
      <td>Fort Union Trading Post National Historic Site</td>
      <td>440.14</td>
      <td>0.69</td>
    </tr>
    <tr>
      <th>266</th>
      <td>Wright Brothers National Memorial</td>
      <td>428.44</td>
      <td>0.67</td>
    </tr>
    <tr>
      <th>267</th>
      <td>Pu'uhonua o Hōnaunau National Historical Park</td>
      <td>419.80</td>
      <td>0.66</td>
    </tr>
    <tr>
      <th>268</th>
      <td>Minidoka National Historic Site</td>
      <td>396.30</td>
      <td>0.62</td>
    </tr>
    <tr>
      <th>269</th>
      <td>Camp Nelson National Monument</td>
      <td>380.12</td>
      <td>0.59</td>
    </tr>
    <tr>
      <th>270</th>
      <td>Fort Monroe National Monument</td>
      <td>367.12</td>
      <td>0.57</td>
    </tr>
    <tr>
      <th>271</th>
      <td>Tumacácori National Historical Park</td>
      <td>360.32</td>
      <td>0.56</td>
    </tr>
    <tr>
      <th>272</th>
      <td>Navajo National Monument</td>
      <td>360.00</td>
      <td>0.56</td>
    </tr>
    <tr>
      <th>273</th>
      <td>Abraham Lincoln Birthplace National Historical...</td>
      <td>344.50</td>
      <td>0.54</td>
    </tr>
    <tr>
      <th>274</th>
      <td>John Muir National Historic Site</td>
      <td>344.14</td>
      <td>0.54</td>
    </tr>
    <tr>
      <th>275</th>
      <td>Fort Washington Park</td>
      <td>341.00</td>
      <td>0.53</td>
    </tr>
    <tr>
      <th>276</th>
      <td>Thomas Stone National Historic Site</td>
      <td>328.25</td>
      <td>0.51</td>
    </tr>
    <tr>
      <th>277</th>
      <td>Aztec Ruins National Monument</td>
      <td>318.40</td>
      <td>0.50</td>
    </tr>
    <tr>
      <th>278</th>
      <td>Washita Battlefield National Historic Site</td>
      <td>315.20</td>
      <td>0.49</td>
    </tr>
    <tr>
      <th>279</th>
      <td>Russell Cave National Monument</td>
      <td>310.45</td>
      <td>0.49</td>
    </tr>
    <tr>
      <th>280</th>
      <td>Fort Matanzas National Monument</td>
      <td>300.11</td>
      <td>0.47</td>
    </tr>
    <tr>
      <th>281</th>
      <td>Martin Van Buren National Historic Site</td>
      <td>284.93</td>
      <td>0.45</td>
    </tr>
    <tr>
      <th>282</th>
      <td>Fort Frederica National Monument</td>
      <td>284.49</td>
      <td>0.44</td>
    </tr>
    <tr>
      <th>283</th>
      <td>Pipestone National Monument</td>
      <td>281.78</td>
      <td>0.44</td>
    </tr>
    <tr>
      <th>284</th>
      <td>Carl Sandburg Home National Historic Site</td>
      <td>268.49</td>
      <td>0.42</td>
    </tr>
    <tr>
      <th>285</th>
      <td>Guilford Courthouse National Military Park</td>
      <td>252.64</td>
      <td>0.39</td>
    </tr>
    <tr>
      <th>286</th>
      <td>Timpanogos Cave National Monument</td>
      <td>250.00</td>
      <td>0.39</td>
    </tr>
    <tr>
      <th>287</th>
      <td>George Washington Carver National Monument</td>
      <td>240.00</td>
      <td>0.38</td>
    </tr>
    <tr>
      <th>288</th>
      <td>Booker T. Washington National Monument</td>
      <td>239.01</td>
      <td>0.37</td>
    </tr>
    <tr>
      <th>289</th>
      <td>Fort Sumter and Fort Moultrie National Histori...</td>
      <td>234.74</td>
      <td>0.37</td>
    </tr>
    <tr>
      <th>290</th>
      <td>Vanderbilt Mansion National Historic Site</td>
      <td>211.65</td>
      <td>0.33</td>
    </tr>
    <tr>
      <th>291</th>
      <td>Homestead National Monument of America</td>
      <td>210.45</td>
      <td>0.33</td>
    </tr>
    <tr>
      <th>292</th>
      <td>Fort Vancouver National Historic Site</td>
      <td>206.72</td>
      <td>0.32</td>
    </tr>
    <tr>
      <th>293</th>
      <td>Cane River Creole National Historical Park</td>
      <td>205.50</td>
      <td>0.32</td>
    </tr>
    <tr>
      <th>294</th>
      <td>Lincoln Boyhood Home National Memorial</td>
      <td>199.96</td>
      <td>0.31</td>
    </tr>
    <tr>
      <th>295</th>
      <td>Gateway Arch National Park</td>
      <td>192.83</td>
      <td>0.30</td>
    </tr>
    <tr>
      <th>296</th>
      <td>Saint-Gaudens National Historical Park</td>
      <td>190.75</td>
      <td>0.30</td>
    </tr>
    <tr>
      <th>297</th>
      <td>Herbert Hoover National Historic Site</td>
      <td>186.80</td>
      <td>0.29</td>
    </tr>
    <tr>
      <th>298</th>
      <td>Eleanor Roosevelt National Historic Site</td>
      <td>180.50</td>
      <td>0.28</td>
    </tr>
    <tr>
      <th>299</th>
      <td>Johnstown Flood National Memorial</td>
      <td>177.76</td>
      <td>0.28</td>
    </tr>
    <tr>
      <th>300</th>
      <td>Hubbell Trading Post National Historic Site</td>
      <td>160.09</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>301</th>
      <td>Rainbow Bridge National Monument</td>
      <td>160.00</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>302</th>
      <td>Cabrillo National Monument</td>
      <td>159.94</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>303</th>
      <td>National Mall and Memorial Parks</td>
      <td>155.84</td>
      <td>0.24</td>
    </tr>
    <tr>
      <th>304</th>
      <td>Honouliuli National Historic Site</td>
      <td>154.46</td>
      <td>0.24</td>
    </tr>
    <tr>
      <th>305</th>
      <td>Rosie the Riveter/World War II Home Front Nati...</td>
      <td>145.19</td>
      <td>0.23</td>
    </tr>
    <tr>
      <th>306</th>
      <td>Lowell National Historical Park</td>
      <td>141.67</td>
      <td>0.22</td>
    </tr>
    <tr>
      <th>307</th>
      <td>Whitman Mission National Historic Site</td>
      <td>138.53</td>
      <td>0.22</td>
    </tr>
    <tr>
      <th>308</th>
      <td>Fort Caroline National Memorial</td>
      <td>138.39</td>
      <td>0.22</td>
    </tr>
    <tr>
      <th>309</th>
      <td>Wolf Trap National Park for the Performing Arts</td>
      <td>130.28</td>
      <td>0.20</td>
    </tr>
    <tr>
      <th>310</th>
      <td>César E. Chávez National Monument</td>
      <td>116.56</td>
      <td>0.18</td>
    </tr>
    <tr>
      <th>311</th>
      <td>Sitka National Historical Park</td>
      <td>116.29</td>
      <td>0.18</td>
    </tr>
    <tr>
      <th>312</th>
      <td>Manhattan Project National Historical Park</td>
      <td>113.61</td>
      <td>0.18</td>
    </tr>
    <tr>
      <th>313</th>
      <td>Dayton Aviation Heritage National Historical Park</td>
      <td>110.52</td>
      <td>0.17</td>
    </tr>
    <tr>
      <th>314</th>
      <td>Natchez National Historical Park</td>
      <td>108.30</td>
      <td>0.17</td>
    </tr>
    <tr>
      <th>315</th>
      <td>Waco Mammoth National Monument</td>
      <td>107.23</td>
      <td>0.17</td>
    </tr>
    <tr>
      <th>316</th>
      <td>Washington Monument</td>
      <td>106.01</td>
      <td>0.17</td>
    </tr>
    <tr>
      <th>317</th>
      <td>Tuskegee Airmen National Historic Site</td>
      <td>89.68</td>
      <td>0.14</td>
    </tr>
    <tr>
      <th>318</th>
      <td>Theodore Roosevelt Island</td>
      <td>88.50</td>
      <td>0.14</td>
    </tr>
    <tr>
      <th>319</th>
      <td>Moores Creek National Battlefield</td>
      <td>87.75</td>
      <td>0.14</td>
    </tr>
    <tr>
      <th>320</th>
      <td>Pu'ukoholā Heiau National Historic Site</td>
      <td>86.24</td>
      <td>0.13</td>
    </tr>
    <tr>
      <th>321</th>
      <td>Sagamore Hill National Historic Site</td>
      <td>83.02</td>
      <td>0.13</td>
    </tr>
    <tr>
      <th>322</th>
      <td>San Juan National Historic Site</td>
      <td>75.13</td>
      <td>0.12</td>
    </tr>
    <tr>
      <th>323</th>
      <td>Fort Smith National Historic Site</td>
      <td>75.00</td>
      <td>0.12</td>
    </tr>
    <tr>
      <th>324</th>
      <td>Weir Farm National Historic Site</td>
      <td>74.20</td>
      <td>0.12</td>
    </tr>
    <tr>
      <th>325</th>
      <td>Jimmy Carter National Historic Site</td>
      <td>72.21</td>
      <td>0.11</td>
    </tr>
    <tr>
      <th>326</th>
      <td>Steamtown National Historic Site</td>
      <td>62.48</td>
      <td>0.10</td>
    </tr>
    <tr>
      <th>327</th>
      <td>Hampton National Historic Site</td>
      <td>62.04</td>
      <td>0.10</td>
    </tr>
    <tr>
      <th>328</th>
      <td>Charles Young Buffalo Soldiers National Monument</td>
      <td>59.66</td>
      <td>0.09</td>
    </tr>
    <tr>
      <th>329</th>
      <td>Pearl Harbor National Memorial</td>
      <td>59.03</td>
      <td>0.09</td>
    </tr>
    <tr>
      <th>330</th>
      <td>Statue of Liberty National Monument</td>
      <td>58.38</td>
      <td>0.09</td>
    </tr>
    <tr>
      <th>331</th>
      <td>Tuskegee Institute National Historic Site</td>
      <td>57.92</td>
      <td>0.09</td>
    </tr>
    <tr>
      <th>332</th>
      <td>Springfield Armory National Historic Site</td>
      <td>54.93</td>
      <td>0.09</td>
    </tr>
    <tr>
      <th>333</th>
      <td>Chamizal National Memorial</td>
      <td>54.90</td>
      <td>0.09</td>
    </tr>
    <tr>
      <th>334</th>
      <td>Paterson Great Falls National Historical Park</td>
      <td>51.32</td>
      <td>0.08</td>
    </tr>
    <tr>
      <th>335</th>
      <td>San Francisco Maritime National Historical Park</td>
      <td>49.86</td>
      <td>0.08</td>
    </tr>
    <tr>
      <th>336</th>
      <td>Independence National Historical Park</td>
      <td>44.87</td>
      <td>0.07</td>
    </tr>
    <tr>
      <th>337</th>
      <td>Boston National Historical Park</td>
      <td>43.82</td>
      <td>0.07</td>
    </tr>
    <tr>
      <th>338</th>
      <td>Minuteman Missile National Historic Site</td>
      <td>43.80</td>
      <td>0.07</td>
    </tr>
    <tr>
      <th>339</th>
      <td>Fort McHenry National Monument and Historic Sh...</td>
      <td>43.26</td>
      <td>0.07</td>
    </tr>
    <tr>
      <th>340</th>
      <td>River Raisin National Battlefield Park</td>
      <td>42.18</td>
      <td>0.07</td>
    </tr>
    <tr>
      <th>341</th>
      <td>Pipe Spring National Monument</td>
      <td>40.00</td>
      <td>0.06</td>
    </tr>
    <tr>
      <th>342</th>
      <td>Constitution Gardens</td>
      <td>39.23</td>
      <td>0.06</td>
    </tr>
    <tr>
      <th>343</th>
      <td>Martin Luther King National Historic Park</td>
      <td>38.89</td>
      <td>0.06</td>
    </tr>
    <tr>
      <th>344</th>
      <td>New Bedford Whaling National Historical Park</td>
      <td>34.00</td>
      <td>0.05</td>
    </tr>
    <tr>
      <th>345</th>
      <td>Yucca House National Monument</td>
      <td>33.87</td>
      <td>0.05</td>
    </tr>
    <tr>
      <th>346</th>
      <td>Harriet Tubman National Historical Park</td>
      <td>31.50</td>
      <td>0.05</td>
    </tr>
    <tr>
      <th>347</th>
      <td>De Soto National Memorial</td>
      <td>30.00</td>
      <td>0.05</td>
    </tr>
    <tr>
      <th>348</th>
      <td>Fort Point National Historic Site</td>
      <td>29.00</td>
      <td>0.05</td>
    </tr>
    <tr>
      <th>349</th>
      <td>Charles Pinckney National Historic Site</td>
      <td>28.45</td>
      <td>0.04</td>
    </tr>
    <tr>
      <th>350</th>
      <td>Little Rock Central High School National Histo...</td>
      <td>28.22</td>
      <td>0.04</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Arlington House</td>
      <td>28.08</td>
      <td>0.04</td>
    </tr>
    <tr>
      <th>352</th>
      <td>Christiansted National Historic Site</td>
      <td>27.15</td>
      <td>0.04</td>
    </tr>
    <tr>
      <th>353</th>
      <td>George Rogers Clark National Historical Park</td>
      <td>26.17</td>
      <td>0.04</td>
    </tr>
    <tr>
      <th>354</th>
      <td>Perry's Victory and International Peace Memorial</td>
      <td>25.38</td>
      <td>0.04</td>
    </tr>
    <tr>
      <th>355</th>
      <td>Adams National Historical Park</td>
      <td>23.82</td>
      <td>0.04</td>
    </tr>
    <tr>
      <th>356</th>
      <td>Governors Island National Monument</td>
      <td>22.91</td>
      <td>0.04</td>
    </tr>
    <tr>
      <th>357</th>
      <td>Thomas Edison National Historical Park</td>
      <td>21.25</td>
      <td>0.03</td>
    </tr>
    <tr>
      <th>358</th>
      <td>Castillo de San Marcos National Monument</td>
      <td>19.38</td>
      <td>0.03</td>
    </tr>
    <tr>
      <th>359</th>
      <td>Thomas Jefferson Memorial</td>
      <td>18.36</td>
      <td>0.03</td>
    </tr>
    <tr>
      <th>360</th>
      <td>White House</td>
      <td>18.07</td>
      <td>0.03</td>
    </tr>
    <tr>
      <th>361</th>
      <td>Pennsylvania Avenue National Historic Site</td>
      <td>17.61</td>
      <td>0.03</td>
    </tr>
    <tr>
      <th>362</th>
      <td>Lyndon Baines Johnson Memorial Grove on the Po...</td>
      <td>17.00</td>
      <td>0.03</td>
    </tr>
    <tr>
      <th>363</th>
      <td>Fort Scott National Historic Site</td>
      <td>16.69</td>
      <td>0.03</td>
    </tr>
    <tr>
      <th>364</th>
      <td>Andrew Johnson National Historic Site</td>
      <td>16.68</td>
      <td>0.03</td>
    </tr>
    <tr>
      <th>365</th>
      <td>Reconstruction Era National Historical Park</td>
      <td>15.53</td>
      <td>0.02</td>
    </tr>
    <tr>
      <th>366</th>
      <td>Fort Stanwix National Monument</td>
      <td>15.52</td>
      <td>0.02</td>
    </tr>
    <tr>
      <th>367</th>
      <td>Eugene O'Neill National Historic Site</td>
      <td>13.19</td>
      <td>0.02</td>
    </tr>
    <tr>
      <th>368</th>
      <td>Harry S Truman National Historic Site</td>
      <td>12.59</td>
      <td>0.02</td>
    </tr>
    <tr>
      <th>369</th>
      <td>Lincoln Home National Historic Site</td>
      <td>12.24</td>
      <td>0.02</td>
    </tr>
    <tr>
      <th>370</th>
      <td>Ulysses S. Grant National Historic Site</td>
      <td>9.60</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>371</th>
      <td>Salem Maritime National Historic Site</td>
      <td>9.02</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>372</th>
      <td>Clara Barton National Historic Site</td>
      <td>8.59</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>373</th>
      <td>Frederick Douglass National Historic Site</td>
      <td>8.57</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>374</th>
      <td>Saugus Iron Works National Historic Site</td>
      <td>8.51</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>375</th>
      <td>World War II Memorial</td>
      <td>8.25</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>376</th>
      <td>Franklin Delano Roosevelt Memorial</td>
      <td>8.14</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>377</th>
      <td>James A. Garfield National Historic Site</td>
      <td>7.82</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>378</th>
      <td>Stonewall National Monument</td>
      <td>7.70</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>379</th>
      <td>Women's Rights National Historical Park</td>
      <td>7.44</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>380</th>
      <td>Lincoln Memorial</td>
      <td>7.29</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>381</th>
      <td>Frederick Law Olmsted National Historic Site</td>
      <td>7.21</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>382</th>
      <td>Saint Croix Island International Historic Site</td>
      <td>6.50</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>383</th>
      <td>Saint Paul's Church National Historic Site</td>
      <td>6.13</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>384</th>
      <td>Freedom Riders National Monument</td>
      <td>5.96</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>385</th>
      <td>New Orleans Jazz National Historical Park</td>
      <td>5.13</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>386</th>
      <td>Port Chicago Naval Magazine National Memorial</td>
      <td>5.00</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>387</th>
      <td>Nicodemus National Historic Site</td>
      <td>4.59</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>388</th>
      <td>Roger Williams National Memorial</td>
      <td>4.56</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>389</th>
      <td>William Howard Taft National Historic Site</td>
      <td>3.64</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>390</th>
      <td>Martin Luther King Jr. Memorial</td>
      <td>2.74</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>391</th>
      <td>Vietnam Veterans Memorial</td>
      <td>2.18</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>392</th>
      <td>Longfellow House - Washington's Headquarters N...</td>
      <td>1.98</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>393</th>
      <td>Brown v. Board of Education National Historic ...</td>
      <td>1.85</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>394</th>
      <td>Hamilton Grange National Memorial</td>
      <td>1.75</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>395</th>
      <td>Korean War Veterans Memorial</td>
      <td>1.56</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>396</th>
      <td>World War I Memorial</td>
      <td>1.39</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>397</th>
      <td>Maggie L. Walker National Historic Site</td>
      <td>1.29</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>398</th>
      <td>Theodore Roosevelt Inaugural National Historic...</td>
      <td>1.18</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>399</th>
      <td>Brices Cross Roads National Battlefield Site</td>
      <td>1.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>400</th>
      <td>Castle Clinton National Monument</td>
      <td>1.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>401</th>
      <td>Tupelo National Battlefield</td>
      <td>1.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>402</th>
      <td>Birmingham Civil Rights National Monument</td>
      <td>0.88</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>403</th>
      <td>General Grant National Memorial</td>
      <td>0.76</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>404</th>
      <td>President William Jefferson Clinton Birthplace...</td>
      <td>0.68</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>405</th>
      <td>Boston African American National Historic Site</td>
      <td>0.59</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>406</th>
      <td>Edgar Allan Poe National Historic Site</td>
      <td>0.52</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>407</th>
      <td>First Ladies National Historic Site</td>
      <td>0.46</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>408</th>
      <td>Federal Hall National Memorial</td>
      <td>0.45</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>409</th>
      <td>Pullman National Monument</td>
      <td>0.40</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>410</th>
      <td>African Burial Ground National Monument</td>
      <td>0.35</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>411</th>
      <td>Belmont-Paul Women's Equality National Monument</td>
      <td>0.34</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>412</th>
      <td>Ford's Theatre National Historic Site</td>
      <td>0.30</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>413</th>
      <td>Carter G. Woodson Home National Historic Site</td>
      <td>0.15</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>414</th>
      <td>Theodore Roosevelt Birthplace National Histori...</td>
      <td>0.11</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>415</th>
      <td>John Fitzgerald Kennedy National Historic Site</td>
      <td>0.09</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>416</th>
      <td>Mary McLeod Bethune Council House National His...</td>
      <td>0.07</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>417</th>
      <td>Thaddeus Kosciuszko National Memorial</td>
      <td>0.02</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>418</th>
      <td>Potomac Heritage National Scenic Trail</td>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
  </tbody>
</table>